@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav {
    background-color: rgba(13, 15, 15, 0.358);
    border: 4px;
    color: rgb(0, 0, 0);
    padding: 10px 10px;  
    text-align: right;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 20px;
           
}
body{
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
}
img{
    width: 100%;
    border-radius: 2px 2px 1px;
    justify-content:center;
    display: flex;
}
p{
    color: white;
    line-height: 1.5em;
    text-align: center;
    font-size: 1em;
    margin-left: 230px;
    margin-right: 210px;
}
h1, h3{
    color: white;
    text-align: center;
}
    ul {
        color: white;      
        font-size: 20px;
        float: left;
              
    }

    button {
        font-size: 18px;
        font-weight: 600;
        background-color: rgb(232, 151, 21);
        border-radius: 12px;
        border: 0;
        padding: 10px 20px;
        cursor: pointer;
       
      }
